body {
    background-color: cornflowerblue;
    font-size: 32px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}
h1 {
    text-align: center;
}
.parent {
    text-align: center;
  }
  .parent > ul {
    display: inline-block;
  }
h2 {
    color: antiquewhite;
    font-weight: 900;
}
h1#header {
    color: lightpink;
}